<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>My App</title>
    <!-- Path to Framework7 iOS CSS theme styles-->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <!-- Path to Framework7 iOS related color styles -->
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
  </head>
  ...
  <!-- Should be a direct child of BODY -->
 <body  ng-controller="MainCtrl">
  
 <div class="login-screen modal-in">
      <!-- Default view-page layout -->
        <div class="view">
        <div class="page">
          <!-- page-content has additional login-screen content -->
          <div class="page-content login-screen-content">
            <div id="bg">
  <img src="img/wall3.jpg" alt="">
</div>
            <div class="login-screen-title">My App</div>
            <!-- Login form -->
            <form>
              <div class="list-block">
                <ul>
                  <li class="item-content">
                     <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                       <div class="item-input">
                        <input type="text" name="username" ng-model="username" placeholder="Username">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-media"><i class="icon icon-form-password"></i></div>
                    <div class="item-inner">
                      <div class="item-input">
                        <input type="password" ng-model="password" name="password" placeholder="Password">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="content-block login-btn-content">
            <a href="#" class="button button-big login-submit button-fill color-red" ng-click="submit()">Sign In</a>
      </div>
            </form>
          </div>
        </div>
      </div>
  </div>

    
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="js/my-app.js"></script>
    <script type="text/javascript" src="js/loginctrl.js"></script>
  </body>
</html> 
